*.md5mesh linguist-detectable=false
*.md5anim linguist-detectable=false
*.blend linguist-detectable=false
*.3ds linguist-detectable=false
*.mtl linguist-detectable=false
*.x linguist-detectable=false
*.xcf linguist-detectable=false
*.x3d linguist-detectable=false
*.fbx linguist-detectable=false