*.md5mesh linguist-detectable=false
*.md5anim linguist-detectable=false
*.blend linguist-detectable=false
*.3ds linguist-detectable=false
*.mtl linguist-detectable=false
*.x linguist-detectable=false
*.xcf linguist-detectable=false
*.x3d linguist-detectable=false
*.fbx linguist-detectable=false
*.dxf linguist-detectable=false
*.abs linguist-detectable=false
*.dae linguist-detectable=false
*.wrl linguist-detectable=false
*.ply linguist-detectable=false
*.stl linguist-detectable=false
*.tga linguist-detectable=false
*.zip linguist-detectable=false
*.fs linguist-detectable=false
*.vs linguist-detectable=false